html,body{
    font-family: Minecraft;
    margin:0;
    padding:0;
    width:100%;
    background-color: #041014;
    opacity: 90%;
    color:white
}
@font-face {
    font-family: Minecraft;
    src: url(../upload/font/Minecraft.ttf);
}
form{
    display:flex;
    flex-direction:column;
    width: 200px;
}
.actions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin:auto;
    width:100%;
}


.container{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: auto;
    width:100%;
    flex-wrap:wrap;
    
    
}
.container>*{
    margin:5px ;
}
.background{
    height:300px;

}
h1{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    font-weight: 900;
}